
/* font-family: 'Actor', sans-serif;
font-family: 'Adamina', serif;
font-family: 'Comfortaa', cursive; */


@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Comfortaa:wght@300;700&display=swap');


/* Global Styling */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Actor', sans-serif;
}

/* container */

.container{
    background-color: rgb(23, 157, 205);
    max-width: 700px;
    color: #ffff;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: black;
    padding: 0 auto;
}

.btn-1{
    background-color: blueviolet;
    height: 40px;
    width: 120px;
    color: #ffff;
    font-weight: 900;
    border-radius: 5px;
}