
/* font-family: 'Actor', sans-serif;
font-family: 'Adamina', serif;
font-family: 'Comfortaa', cursive; */


@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Comfortaa:wght@300;700&display=swap');


/* Global Styling */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Actor', sans-serif;
}

/* Homepage Container */

.container{
    display: flex;
    background-color: rgb(23, 157, 205);
    max-width: 700px;
    color: #ffff;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: black;
    height: 40vh;
}

/* Stuling the Buttons Section */
.btn-1{
    background-color: blueviolet;
    height: 60px;
    width: 250px;
    color: #ffff;
    font-weight: 900;
    border-radius: 5px;
    font-size: 20px;
}

.btn-2{
    background-color: blueviolet;
    height: 40px;
    width: 120px;
    color: #ffff;
    font-weight: 900;
    border-radius: 5px;
    font-size: 20px;
}

.btn-3{
    background-color: blueviolet;
    height: 40px;
    width: 180px;
    color: #ffff;
    font-weight: 900;
    border-radius: 5px;
    font-size: 20px;
}

/* Quiz Form Section  */

.formSection form{
    font-family: 'Actor', sans-serif;
    background-color: rgb(23, 157, 205);
    color: #ffff;
    padding: 20px;
}

.formSection form > h1{
    font-family: 'Actor', sans-serif;
    background-color: rgb(23, 157, 205);
    color: #ffff;
    padding: 20px;
}

/* Rules Section  */

.rulesContainer{
    background-color: rgb(23, 157, 205);
}

.formSection form > p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}

.formSection form input:submit{
   background-color: blueviolet;
   height: 40px;
    width: 120px;
    color: #ffff;
    font-weight: 900;
    border-radius: 5px;
    font-size: 20px;
}